Repository ttttonyhe/ouorz-mono: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,scss,css,md}": "prettier --write"
}

feat: make contracts upgradeable
  .gitignore
  .npmrc
  apps/blockchain/contracts/Blog.sol
  apps/blockchain/contracts/libraries/DataTypes.sol
  apps/interface/app/layout.tsx
  apps/interface/app/page.tsx
  apps/interface/next-env.d.ts
  apps/interface/next.config.js
  apps/interface/package.json
  apps/interface/tsconfig.json
  packages/protocols/README.md
  packages/protocols/contracts/Blog.sol
  packages/protocols/contracts/BlogEntry.sol
  packages/protocols/contracts/BlogEntryNFT.sol
  packages/protocols/contracts/interfaces/IBlog.sol
  packages/protocols/contracts/libraries/Constants.sol
  packages/protocols/contracts/libraries/DataTypes.sol
  packages/protocols/contracts/libraries/Errors.sol
  packages/protocols/contracts/libraries/Events.sol
  packages/protocols/deploy/Blog.ts
  packages/protocols/deployments/address.json
  packages/protocols/hardhat.config.ts
  packages/protocols/package.json
  packages/protocols/scripts/deployBlogProxy.ts
  packages/protocols/scripts/upgradeBlogImpl.ts
  packages/protocols/scripts/verifyBlogImpl.ts
  packages/protocols/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: rename contracts
  apps/interface/app/page.tsx
  apps/interface/package.json
  packages/protocols/deploy/Blog.ts
  packages/protocols/deployments/address.json
  packages/protocols/scripts/deployBlogProxy.ts
  packages/protocols/scripts/upgradeBlogImpl.ts
  packages/twilight-protocol/README.md
  packages/twilight-protocol/constants/arguments.ts
  packages/twilight-protocol/constants/contracts.ts
  packages/twilight-protocol/contracts/TwilightBlog.sol
  packages/twilight-protocol/contracts/TwilightBlogEntry.sol
  packages/twilight-protocol/contracts/TwilightBlogEntryCollectNFT.sol
  packages/twilight-protocol/contracts/interfaces/ITwilightBlog.sol
  packages/twilight-protocol/contracts/libraries/Constants.sol
  packages/twilight-protocol/contracts/libraries/DataTypes.sol
  packages/twilight-protocol/contracts/libraries/Errors.sol
  packages/twilight-protocol/contracts/libraries/Events.sol
  packages/twilight-protocol/deployment/address.json
  packages/twilight-protocol/hardhat.config.ts
  packages/twilight-protocol/package.json
  packages/twilight-protocol/scripts/deployBlogProxy.ts
  packages/twilight-protocol/scripts/upgradeBlogImpl.ts
  packages/twilight-protocol/scripts/verifyBlogImpl.ts
  packages/twilight-protocol/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: upgrade deps
  apps/main/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: lint errors
  apps/main/src/components/Content/index.tsx
Due: prettier --write, eslint --fix

fix: lint errors
  apps/main/src/components/Label/index.tsx
  apps/main/src/components/Motion/header.tsx
  apps/main/src/components/Motion/offset.tsx
  apps/main/src/components/Page/index.tsx
  apps/main/src/components/Visual/hovering.tsx
Due: prettier --write, eslint --fix

fix: lint errors
  apps/main/src/components/Kbar/panel.tsx
  apps/main/src/components/Metrics/Nicehash.tsx
  apps/main/src/components/Tabs/component.tsx
  apps/main/src/hooks/useBodyEffects.ts
  apps/main/src/pages/api/summarize.ts
  packages/eslint-config-react/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: upgrade deps
  pnpm-lock.yaml
Due: none

chore: update wording
  apps/main/src/pages/pages/index.tsx
Due: prettier --write, eslint --fix

fix: lint errors
  apps/main/package.json
  apps/main/src/components/Visual/glowing.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: lint errors
  apps/main/src/pages/_app.tsx
Due: prettier --write, eslint --fix

fix: multiple minor fixes
  apps/main/src/components/Card/Book/index.tsx
  apps/main/src/components/Header/index.tsx
  apps/main/src/components/Top/index.tsx
  apps/main/src/store/kbar/sagas/updateKbarToSearch.ts
  packages/twilight-ui/src/Button/button.tsx
  packages/twilight-ui/src/Icon/icons.tsx
Due: prettier --write, eslint --fix

fix: a minor styling error
  apps/main/src/components/Top/index.tsx
Due: prettier --write, eslint --fix

fix: disable next post button for podcasts and books
  apps/main/src/components/Aside/index.tsx
  apps/main/src/components/Card/WithImage/index.tsx
Due: prettier --write, eslint --fix

fix: broken e2e tests
  apps/main/cypress/e2e/post.cy.ts
Due: prettier --write, eslint --fix

chore: attempt to fix broken tests
  apps/main/cypress/e2e/kbar.cy.ts
  apps/main/src/pages/reading-list/index.tsx
Due: prettier --write, eslint --fix

fix: infinite loading
  apps/main/src/components/List/infiniteList.tsx
Due: prettier --write, eslint --fix

chore: switch to edge runtime
  apps/main/next.config.js
  apps/main/src/middleware.ts
  apps/main/src/pages/api/nexment.ts
  apps/main/src/pages/api/nft.ts
  apps/main/src/pages/api/twitter.ts
Due: prettier --write, eslint --fix

fix: type error
  apps/main/src/components/Grids/NFTs.tsx
  apps/main/src/pages/api/nft.ts
Due: prettier --write, eslint --fix

chore: use the old kbar list loading screen when in light mode
  apps/main/src/components/Kbar/panel.tsx
Due: prettier --write, eslint --fix

chore: mark twitter api as deprecated
  apps/main/src/components/Metrics/JMS.tsx
  apps/main/src/components/Metrics/Nexment.tsx
  apps/main/src/components/Metrics/Posts.tsx
  apps/main/src/pages/api/jms.ts
  apps/main/src/pages/api/twitter.ts
  apps/main/src/pages/dashboard/index.tsx
Due: prettier --write, eslint --fix

chore: update meta tags
  apps/main/src/pages/_document.tsx
  apps/main/src/pages/index.tsx
Due: prettier --write, eslint --fix

fix: svg display in safari
  apps/main/src/styles/global.css
Due: prettier --write

fix: svg display in safari
  apps/main/src/styles/global.css
  packages/twilight-ui/src/Icon/icons.tsx
Due: prettier --write, eslint --fix

fix: svg display in safari
  packages/twilight-ui/src/Icon/icons.tsx
Due: prettier --write, eslint --fix

chore: update sentry config
  apps/main/sentry.client.config.js
  apps/main/sentry.edge.config.js
  apps/main/sentry.server.config.js
Due: prettier --write, eslint --fix

fix: panel is too high when loading
  apps/main/src/components/Kbar/panel.tsx
  apps/main/src/store/kbar/sagas/updateKbarToSearch.ts
Due: prettier --write, eslint --fix

chore: improve tests & styling
  apps/main/cypress/e2e/kbar.cy.ts
  apps/main/src/components/Card/Book/index.tsx
  apps/main/src/components/Header/index.tsx
  apps/main/src/pages/reading-list/index.tsx
Due: prettier --write, eslint --fix

fix: eslint warnings
  apps/main/src/components/Header/index.tsx
  apps/main/src/pages/_document.tsx
  apps/main/src/pages/index.tsx
Due: prettier --write, eslint --fix

chore: upgrade deps
  apps/main/package.json
  apps/main/src/components/Card/Book/index.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Create README.md
  apps/interface/README.md
Due: prettier --write

Update README.md
  packages/twilight-protocol/README.md
Due: prettier --write

fix: tonyhe tony he
  apps/main/src/pages/404.tsx
  apps/main/src/pages/_error.tsx
  apps/main/src/pages/cate/[cid].tsx
  apps/main/src/pages/dashboard/index.tsx
  apps/main/src/pages/friends/index.tsx
  apps/main/src/pages/page/[pgid].tsx
  apps/main/src/pages/pages/index.tsx
  apps/main/src/pages/podcasts/index.tsx
  apps/main/src/pages/post/[pid].tsx
  apps/main/src/pages/reading-list/index.tsx
  apps/main/src/pages/sponsor/index.tsx
  apps/main/src/pages/web3/index.tsx
Due: prettier --write, eslint --fix

fix: dark mode styling
  apps/main/src/components/Card/Book/index.tsx
  apps/main/src/pages/dashboard/index.tsx
Due: prettier --write, eslint --fix

fix: dark mode styling
  apps/main/src/components/Card/Book/index.tsx
Due: prettier --write, eslint --fix

feat: publish twilight ui to npm
  package.json
  packages/twilight-ui/.eslintrc.js
  packages/twilight-ui/.storybook/main.js
  packages/twilight-ui/README.md
  packages/twilight-ui/package.json
  packages/twilight-ui/scripts/build.ts
  packages/twilight-ui/src/Button/button.stories.tsx
  packages/twilight-ui/src/Button/button.tsx
  packages/twilight-ui/src/Icon/icon.stories.tsx
  packages/twilight-ui/src/Icon/icon.tsx
  packages/twilight-ui/src/Label/label.stories.tsx
  packages/twilight-ui/src/Label/label.tsx
  packages/twilight-ui/src/LabelGroup/label-group.stories.tsx
  packages/twilight-ui/src/LabelGroup/label-group.tsx
  packages/twilight-ui/src/index-headless.ts
  packages/twilight-ui/tailwind.config.js
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, eslint --fix

chore: upgrade nexment
  apps/main/package.json
  apps/main/src/styles/global.css
  pnpm-lock.yaml
Due: prettier --write

fix: some minor styling errors
  apps/main/src/styles/global.css
Due: prettier --write

fix: make react and react-dom external
  packages/twilight-ui/package.json
  packages/twilight-ui/scripts/build.ts
Due: prettier --write, eslint --fix

chore: bump version number
  packages/twilight-ui/package.json
Due: prettier --write
