Repository ttttonyhe/ouorz-mono: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,scss,css,md}": "prettier --write"
}

fix: eslint config errors
  apps/preview/package.json
  apps/preview/src/app/(Outputs)/post/@article/[slug]/page.tsx
  apps/preview/src/app/(Outputs)/post/@aside/page.tsx
  apps/preview/src/app/(Outputs)/post/layout.tsx
  apps/preview/src/app/layout.tsx
  apps/preview/src/components/Layouts/base.tsx
  apps/preview/tsconfig.json
  package.json
  packages/eslint-config-next/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: type checking configs
  apps/preview/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

fix: use edge runtime
  apps/preview/src/app/(Outputs)/post/@article/[slug]/page.tsx
Due: prettier --write, eslint --fix

fix: edge runtime
  apps/preview/src/app/(Outputs)/post/@article/[slug]/page.tsx
Due: prettier --write, eslint --fix

wip(preview): update layout structure
  apps/preview/next.config.mjs
  apps/preview/src/app/(Outputs)/blog/page.tsx
  apps/preview/src/app/(Outputs)/post/@article/[slug]/page.tsx
  apps/preview/src/app/(Outputs)/post/@aside/page.tsx
  apps/preview/src/app/(Outputs)/post/layout.tsx
  apps/preview/src/app/(view)/layout.tsx
  apps/preview/src/app/layout.tsx
  apps/preview/src/components/Containers/Footer/index.tsx
  apps/preview/src/components/Containers/Header/index.tsx
  apps/preview/src/components/Containers/Sidebar/index.tsx
  apps/preview/src/components/Layouts/base.tsx
  apps/preview/tailwind.config.ts
  package.json
Due: prettier --write, eslint --fix

wip: preview
  apps/preview/package.json
  package.json
  turbo.json
Due: prettier --write

wip(preview): update readme
  apps/preview/README.md
Due: prettier --write

wip: preview
  apps/preview/next.config.mjs
  apps/preview/package.json
  apps/preview/src/app/(Outputs)/post/@article/[slug]/page.tsx
  apps/preview/src/app/layout.tsx
  package.json
  turbo.json
Due: prettier --write, eslint --fix

wip(preview): test out next/mdx
  apps/preview/next.config.mjs
  apps/preview/package.json
  apps/preview/src/app/(Outputs)/blog/[name]/page.tsx
  apps/preview/src/app/(Outputs)/blog/page.tsx
  apps/preview/src/content/test.mdx
  apps/preview/src/mdx-components.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: jms metric
  apps/main/src/components/Metrics/JMS.tsx
  apps/main/src/components/Metrics/PostViews.tsx
  apps/main/src/pages/dashboard/index.tsx
Due: prettier --write, eslint --fix

Update JMS.tsx
  apps/main/src/components/Metrics/JMS.tsx
Due: prettier --write, eslint --fix

chore: upgrade pnpm to v9
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: pnpm version incompatible with vercel's
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: tsx outdated
  packages/twilight-ui/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: change nodejs version to 20
  .github/workflows/twilight-toolkit-testing.yml
Due: none

chore: improve sentry config
  apps/main/instrumentation.ts
  apps/main/next.config.js
  apps/main/package.json
  apps/main/sentry.client.config.js
  apps/main/sentry.edge.config.js
  apps/main/sentry.properties
  apps/main/sentry.server.config.js
  apps/main/src/pages/_error.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: upgrade dependencies
  apps/main/package.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

feat: fetch caching
  apps/main/src/lib/fetcher.ts
  apps/main/src/pages/feed/index.tsx
Due: prettier --write, eslint --fix

feat: rss feed endpoint cache control
  apps/main/package.json
  apps/main/src/pages/feed/index.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: minor styling errors
  apps/main/src/components/PostContent/index.tsx
  apps/main/src/styles/global.css
Due: prettier --write, eslint --fix

chore: upgrade dependencies
  apps/main/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update SECURITY.md
  SECURITY.md
Due: prettier --write

chore: upgrade dependencies
  apps/main/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: debug
  apps/main/src/pages/post/[pid].tsx
Due: prettier --write, eslint --fix

chore: debug building on vercel
  apps/main/src/pages/post/[pid].tsx
Due: prettier --write, eslint --fix

chore: upgrade dependencies and add a new banner
  apps/main/package.json
  apps/main/src/components/Banners/NexusPaper/index.tsx
  apps/main/src/pages/index.tsx
  package.json
  packages/twilight-ui/src/Icon/icons.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: nexus paper banner
  apps/main/src/components/Banners/NexusPaper/index.tsx
  apps/main/src/components/Banners/YearOfReformation/index.tsx
  apps/main/src/pages/index.tsx
Due: prettier --write, eslint --fix

chore: update dependencies
  apps/main/next-env.d.ts
  apps/main/package.json
  apps/main/src/components/Banners/NexusPaper/index.tsx
  apps/main/src/pages/dashboard/index.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: new featured paper lookahead
  apps/main/package.json
  apps/main/src/components/Banners/NexusPaper/index.tsx
  apps/main/src/components/Banners/Research/index.tsx
  apps/main/src/pages/index.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: hide blog posts by default
  apps/main/src/components/Banners/YearOfReformation/index.tsx
  apps/main/src/components/Card/WithImage/index.tsx
  apps/main/src/components/Card/WithImage/podcast.tsx
  apps/main/src/components/Card/WithImage/tool.tsx
  apps/main/src/components/Card/WithOutImage/index.tsx
  apps/main/src/components/SubscriptionBox/index.tsx
  apps/main/src/pages/index.tsx
  packages/twilight-ui/src/Icon/icons.tsx
Due: prettier --write, eslint --fix

fix: a minor styling error
  apps/main/src/components/SubscriptionBox/index.tsx
Due: prettier --write, eslint --fix

milestone: change domain name to lipeng.ac
  .github/workflows/main-app-testing.yml
  README.md
  apps/analytics/pages/index.js
  apps/main/README.md
  apps/main/package.json
  apps/main/public/robots.txt
  apps/main/src/components/Header/index.tsx
  apps/main/src/components/SubscriptionBox/index.tsx
  apps/main/src/constants/ids.ts
  apps/main/src/pages/_app.tsx
  apps/main/src/pages/_document.tsx
  apps/main/src/pages/feed/index.tsx
  apps/main/src/pages/index.tsx
  apps/main/src/pages/sitemap.xml.ts
  apps/main/src/store/kbar/sagas/updateKbarSearchQuery.ts
  apps/main/src/utilities/api.ts
  apps/preview/public/robots.txt
  apps/preview/src/app/layout.tsx
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, eslint --fix

chore: update the discord server link
  apps/main/src/components/SubscriptionBox/index.tsx
Due: prettier --write, eslint --fix

chore: update texts
  apps/main/src/components/Banners/YearOfReformation/index.tsx
  apps/main/src/components/Header/index.tsx
Due: prettier --write, eslint --fix

Update README.md
  README.md
Due: prettier --write

fix: broken links and tests
  .gitignore
  apps/main/cypress/e2e/index.cy.ts
  apps/main/cypress/screenshots/kbar.cy.ts/Kbar -- click on cmd + k button -- should display kbar background and panel (failed).png
  apps/main/cypress/screenshots/kbar.cy.ts/Kbar -- enter key combination cmd + k -- search kbar list items -- should display only list items match input value (failed).png
  apps/main/cypress/screenshots/kbar.cy.ts/Kbar -- enter key combination cmd + k -- should display kbar background and panel (failed).png
  apps/main/cypress/screenshots/kbar.cy.ts/Kbar -- enter key combination cmd + k -- use kbar to search articles -- should list all articles (failed).png
  apps/main/src/lib/fetcher.ts
  apps/main/src/pages/index.tsx
  apps/main/src/pages/sitemap.xml.ts
Due: prettier --write, eslint --fix

chore: add some animated effects
  apps/main/src/pages/_document.tsx
  apps/main/src/pages/index.tsx
Due: prettier --write, eslint --fix

chore: fix configs
  apps/main/src/pages/index.tsx
  apps/main/tailwind.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix
