Repository ttttonyhe/ouorz-mono: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,scss,css,md}": "prettier --write"
}

chore: update text
  apps/main/src/pages/index.tsx
Due: prettier --write, eslint --fix

fix: eslint error
  apps/main/src/pages/index.tsx
Due: prettier --write, eslint --fix

fix: linting errors
  apps/main/biome.json
  apps/main/src/components/Aside/index.tsx
  apps/main/src/components/Card/WithImage/index.tsx
  apps/main/src/components/Footer/index.tsx
  apps/main/src/components/Kbar/component.tsx
  apps/main/src/components/Kbar/panel.tsx
  apps/main/src/components/Motion/scroll.tsx
  apps/main/src/components/Tabs/component.tsx
  apps/main/src/hooks/useListener.ts
  apps/main/src/hooks/useTimeoutFunction.ts
  apps/main/src/pages/cate/[cid].tsx
  apps/main/src/pages/page/[pgid].tsx
  apps/main/src/pages/post/[pid].tsx
Due: prettier --write, eslint --fix

fix: input autofocus
  apps/main/biome.json
  apps/main/src/components/Kbar/panel.tsx
Due: prettier --write, eslint --fix

chore: update paper & description
  apps/main/src/pages/index.tsx
Due: prettier --write, eslint --fix

chore: update paper link
  apps/main/src/pages/index.tsx
Due: prettier --write, eslint --fix

feat: links
  apps/main/src/pages/friends/index.tsx
  apps/main/src/pages/index.tsx
  apps/main/src/pages/links/index.tsx
  apps/main/src/pages/pages/index.tsx
  packages/twilight-ui/src/Icon/icons.tsx
Due: prettier --write, eslint --fix

chore: update links
  apps/main/src/pages/index.tsx
Due: prettier --write, eslint --fix

fix: email address
  apps/main/src/components/Top/index.tsx
Due: prettier --write, eslint --fix

feat: new sections
  apps/main/src/components/Card/Service/index.tsx
  apps/main/src/pages/index.tsx
  packages/twilight-ui/src/Icon/icons.tsx
Due: prettier --write, eslint --fix

chore: upgrade dependencies
  apps/main/biome.json
  apps/main/next-env.d.ts
  apps/main/next.config.js
  apps/main/package.json
  apps/main/src/pages/index.tsx
  apps/main/src/proxy.ts
  apps/main/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: update url
  apps/main/src/pages/index.tsx
Due: prettier --write, eslint --fix

feat: view transition effects
  apps/main/src/components/Card/Page/index.tsx
  apps/main/src/pages/_app.tsx
  apps/main/src/pages/dashboard/index.tsx
  apps/main/src/pages/links/index.tsx
  apps/main/src/pages/pages/index.tsx
  apps/main/src/pages/podcasts/index.tsx
  apps/main/src/pages/reading-list/index.tsx
  apps/main/src/pages/web3/index.tsx
  apps/main/src/styles/global.css
  apps/main/src/utilities/viewTransition.ts
Due: prettier --write, eslint --fix

Upgrade GitHub Actions and dependencies to latest versions
  .github/workflows/main-app-testing.yml
Due: none

chore: update dependencies
  package.json
Due: prettier --write

chore: upgrade dependencies
  apps/main/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade dependencies
  packages/twilight-ui/src/Label/label.tsx
Due: prettier --write, eslint --fix

fix: type errors
  apps/main/next-env.d.ts
  apps/main/package.json
  packages/twilight-ui/src/Label/label.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: update pnpm version to 10.x.x in workflow
  .github/workflows/main-app-testing.yml
Due: none

chore: update pnpm version to 10.24.0 in workflow
  .github/workflows/main-app-testing.yml
Due: none

fix: e2e tests
  apps/main/cypress/e2e/friends.cy.ts
Due: prettier --write, eslint --fix

chore: update texts
  apps/main/next-env.d.ts
  apps/main/src/pages/_document.tsx
  apps/main/src/pages/index.tsx
  apps/main/src/pages/reading-list/index.tsx
Due: prettier --write, eslint --fix

fix: security vulnerabilities
  apps/main/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update React Flight/Next.js RCE vulnerability patches
  apps/main/package.json
  apps/preview/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: update text
  apps/main/src/pages/index.tsx
Due: prettier --write, eslint --fix

chore: update paper status
  apps/main/src/pages/index.tsx
Due: prettier --write, eslint --fix
