Repository ttttonyhe/ouorz-mono: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: migrate to pnpm
  .github/workflows/cypress-testing.yml
  .gitignore
  .yarn/releases/yarn-3.2.4.cjs
  .yarnrc.yml
  README.md
  apps/analytics/.gitignore
  apps/analytics/lang/en-US.json
  apps/analytics/lang/zh-CN.json
  apps/analytics/lib/db.js
  apps/analytics/package.json
  apps/main/package.json
  apps/main/src/components/List/infiniteList.tsx
  package.json
  packages/README.md
  packages/twilight-ui/package.json
  packages/twilight-utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: prettier --write, eslint --fix

fix: cypress testing workflow
  .github/workflows/cypress-testing.yml
Due: none

chore: create root eslint config package
  .eslintrc.js
  .github/workflows/cypress-testing.yml
  apps/main/.prettierignore
  apps/main/.prettierrc.json
  apps/main/next.config.js
  apps/main/src/constants/propTypes.ts
  package.json
  packages/eslint-config-next/index.js
  packages/eslint-config-next/package.json
  packages/eslint-config-root/README.md
  packages/eslint-config-root/index.js
  packages/eslint-config-root/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: turborepo compatibility issue with pnpm
  apps/main/.prettierignore
  apps/main/.prettierrc.json
  apps/main/next.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: minor styling/workspace config issues
  apps/main/src/styles/global.css
  packages/twilight-ui/styles/base.css
  pnpm-workspace.yaml
Due: prettier --write

Update cypress-testing.yml
  .github/workflows/cypress-testing.yml
Due: none

fix: cannot mix BigInt and other types
  apps/analytics/pages/api/website/[id]/stats.js
Due: prettier --write, eslint --fix

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

fix: a minor styling error
  apps/main/src/styles/global.css
Due: prettier --write

fix: a minor styling issue
  apps/main/src/styles/global.css
Due: prettier --write

feat: separate testing workflows
  .github/workflows/analytics-app-testing.yml
  .github/workflows/main-app-testing.yml
  package.json
Due: prettier --write

feat: run cypress tests in parallel
  .github/workflows/analytics-app-testing.yml
  .github/workflows/main-app-testing.yml
Due: none

fix: failing tests
  apps/main/cypress/e2e/kbar.cy.ts
  apps/main/src/components/Header/index.tsx
Due: prettier --write, eslint --fix

chore: flag flaky tests
  apps/main/cypress/e2e/kbar.cy.ts
  package.json
  turbo.json
Due: prettier --write, eslint --fix

feat: smoke test workflow for twilight toolkit
  .github/workflows/main-app-testing.yml
  .github/workflows/twilight-toolkit-testing.yml
Due: none

fix: failing tests
  apps/main/cypress/e2e/kbar.cy.ts
Due: prettier --write, eslint --fix

chore: only preload metadata
  apps/main/src/components/Card/WithImage/podcast.tsx
Due: prettier --write, eslint --fix

fix: a minor styling error
  apps/main/src/components/Card/Book/index.tsx
Due: prettier --write, eslint --fix

feat: use algolia for searching
  apps/main/package.json
  apps/main/src/pages/api/search.ts
  apps/main/src/store/kbar/sagas/updateKbarToSearch.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: failing e2e tests
  apps/main/cypress/e2e/kbar.cy.ts
  apps/main/cypress/fixtures/searchIndex.json
Due: prettier --write, eslint --fix

fix: failing e2e tests
  apps/main/cypress/e2e/kbar.cy.ts
Due: prettier --write, eslint --fix

fix: failing e2e tests
  apps/main/cypress/fixtures/searchIndex.json
Due: prettier --write

feat: use algolia for searching
  apps/main/src/components/Header/index.tsx
  apps/main/src/components/Kbar/component.tsx
  apps/main/src/components/Kbar/context.ts
  apps/main/src/components/Kbar/index.ts
  apps/main/src/components/Kbar/panel.tsx
  apps/main/src/hooks/useDebounce.ts
  apps/main/src/hooks/useTimeoutFunction.ts
  apps/main/src/pages/api/search.ts
  apps/main/src/store/kbar/actions.ts
  apps/main/src/store/kbar/saga.ts
  apps/main/src/store/kbar/sagas/updateKbarSearchQuery.ts
  apps/main/src/store/kbar/sagas/updateKbarToSearch.ts
Due: prettier --write, eslint --fix

feat: new hook usedebounced
  apps/main/src/components/Card/PlainText/index.tsx
  apps/main/src/hooks/index.ts
  apps/main/src/hooks/useDebouncedFunction.ts
Due: prettier --write, eslint --fix

fix: changing kbar location
  apps/main/src/components/Kbar/panel.tsx
Due: prettier --write, eslint --fix

chore: update placeholder
  apps/main/src/components/Kbar/panel.tsx
  apps/main/src/store/kbar/sagas/updateKbarSearchQuery.ts
  apps/main/src/store/kbar/sagas/updateKbarToSearch.ts
  apps/main/src/styles/global.css
Due: prettier --write, eslint --fix

fix: debounce scroll into view
  apps/main/src/components/Aside/index.tsx
Due: prettier --write, eslint --fix

chore: upgrade deps
  apps/main/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: update header title on page change
  apps/main/src/pages/_document.tsx
  apps/main/src/pages/page/[pgid].tsx
  apps/main/src/pages/post/[pid].tsx
Due: prettier --write, eslint --fix

chore: add og tags
  apps/main/src/pages/_document.tsx
Due: prettier --write, eslint --fix

chore: update avatars
  apps/main/public/favicon.ico
  apps/main/public/tony.png
  apps/main/src/components/Header/index.tsx
Due: prettier --write, eslint --fix

chore: update github username
  README.md
  apps/analytics/pages/index.js
  apps/main/src/components/Footer/index.tsx
  apps/main/src/components/Header/index.tsx
  apps/main/src/components/Metrics/GithubFollowers.tsx
  apps/main/src/components/Metrics/GithubStars.tsx
  apps/main/src/components/Metrics/Zhihu.tsx
  apps/main/src/components/Top/index.tsx
  apps/main/src/constants/apiURLs.ts
  apps/main/src/pages/sponsor/index.tsx
  apps/main/src/pages/web3/index.tsx
  apps/wordpress/wp-content/themes/peg/404.php
  apps/wordpress/wp-content/themes/peg/archive.php
  apps/wordpress/wp-content/themes/peg/archive_posts.php
  apps/wordpress/wp-content/themes/peg/comments.php
  apps/wordpress/wp-content/themes/peg/comments_page.php
  apps/wordpress/wp-content/themes/peg/donate.php
  apps/wordpress/wp-content/themes/peg/inc/setting.php
  apps/wordpress/wp-content/themes/peg/index.php
  apps/wordpress/wp-content/themes/peg/music.php
  apps/wordpress/wp-content/themes/peg/single.php
  apps/wordpress/wp-content/themes/peg/tag.php
Due: prettier --write, eslint --fix

fix: eslint errors
  apps/main/src/components/Top/index.tsx
Due: prettier --write, eslint --fix

Update main-app-testing.yml
  .github/workflows/main-app-testing.yml
Due: none

Update twilight-toolkit-testing.yml
  .github/workflows/twilight-toolkit-testing.yml
Due: none

Update analytics-app-testing.yml
  .github/workflows/analytics-app-testing.yml
Due: none

feat: on-chain blogging (wip)
  .gitignore
  .prettierignore
  .prettierrc
  .prettierrc.json
  .solhint.json
  .solhintignore
  apps/blockchain/contracts/Blog.sol
  apps/blockchain/contracts/BlogEntry.sol
  apps/blockchain/contracts/BlogEntryNFT.sol
  apps/blockchain/contracts/interfaces/IBlog.sol
  apps/blockchain/contracts/libraries/DataTypes.sol
  apps/blockchain/deploy/Blog.ts
  apps/blockchain/hardhat.config.ts
  apps/blockchain/package.json
  apps/blockchain/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,scss,css,md})
  eslint --fix: any of: *.{js,ts,tsx}
