Repository ttttonyhe/ouorz-mono: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: lockfile is not up-to-date
  pnpm-lock.yaml
Due: none

feat: add animation for aside
  apps/main/src/styles/global.css
Due: prettier --write

Update README.md
  packages/README.md
Due: prettier --write

Create README.md
  apps/README.md
Due: prettier --write

feat: nexment reply email notifications
  apps/main/package.json
  apps/main/src/components/Footer/index.tsx
  apps/main/src/components/Nexment/index.tsx
  apps/main/src/styles/global.css
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: a minor styling error
  apps/main/src/styles/global.css
Due: prettier --write

chore: upgrade nexment
  apps/main/package.json
  apps/main/src/components/Nexment/index.tsx
  apps/main/src/styles/global.css
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: upgrade deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade nexment
  apps/main/package.json
  apps/main/src/styles/global.css
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade nexment
  apps/main/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update turbo config
  turbo.json
Due: prettier --write

feat: just adding some fun animation
  apps/main/package.json
  apps/main/src/components/Header/index.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: eslint errors
  packages/eslint-config-next/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: broken animation
  apps/main/src/components/Header/index.tsx
  apps/main/src/styles/global.css
Due: prettier --write, eslint --fix

chore: upgrade deps
  apps/main/package.json
  apps/main/public/favicon.ico
  apps/main/public/tony.png
  apps/main/src/components/Header/index.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: prettier errors
  apps/main/src/components/Header/index.tsx
Due: prettier --write, eslint --fix

fix: type errors
  apps/main/src/components/Grids/NFTs.tsx
Due: prettier --write, eslint --fix

chore: upgrade deps
  apps/main/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade deps
  apps/main/package.json
  apps/main/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

chore: replace jms metric card with zhihu
  apps/main/src/pages/dashboard/index.tsx
Due: prettier --write, eslint --fix

chore: remove some metric cards
  apps/main/src/pages/dashboard/index.tsx
Due: prettier --write, eslint --fix

chore: upgrade dependencies
  apps/main/package.json
  apps/main/src/pages/index.tsx
  package.json
  packages/twilight-protocol/package.json
  packages/twilight-protocol/scripts/deployBlogProxy.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: eslint errors
  apps/main/.eslintrc.js
  apps/main/src/components/Kbar/panel.tsx
  apps/main/src/components/Tabs/component.tsx
  apps/main/src/utilities/api.ts
Due: prettier --write, eslint --fix

fix: react hotkeys version
  apps/main/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: next/image configs
  apps/main/next.config.js
  apps/main/src/pages/page/[pgid].tsx
  apps/main/src/pages/post/[pid].tsx
Due: prettier --write, eslint --fix

fix: attempted to hard navigate to the same url
  apps/main/src/components/Aside/index.tsx
  apps/main/src/components/Header/index.tsx
Due: prettier --write, eslint --fix

feat: prisma accelerate (wip)
  apps/analytics/components/layout/Layout.js
  apps/analytics/lib/db.js
  apps/analytics/middleware.js
  apps/analytics/package.json
  apps/analytics/prisma/schema.postgresql.prisma
  apps/analytics/scripts/change-password.js
  apps/analytics/store/app.js
  apps/analytics/store/queries.js
  apps/analytics/store/websites.js
  apps/analytics/tracker/index.js
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: prisma accelerate (wip)
  apps/analytics/lib/queries.js
  apps/analytics/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: prisma accelerate
  apps/analytics/components/common/FilterLink.js
  apps/analytics/components/common/Link.js
  apps/analytics/components/pages/TestConsole.js
  apps/analytics/components/settings/AccountSettings.js
  apps/analytics/package.json
  apps/analytics/scripts/copy-db-schema.js
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: page title & build command
  apps/analytics/components/layout/Layout.js
  apps/analytics/lib/db.js
  package.json
  turbo.json
Due: prettier --write, eslint --fix

fix: build commands
  package.json
  turbo.json
Due: prettier --write

chore: update readme.md
  apps/analytics/README.md
Due: prettier --write

fix: remove prisma accelerate
  apps/analytics/README.md
  apps/analytics/lib/db.js
  apps/analytics/package.json
  apps/analytics/prisma/schema.postgresql.prisma
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: postgres connection pooling
  apps/analytics/prisma/schema.postgresql.prisma
Due: none

fix: prisma client
  apps/analytics/lib/db.js
  apps/analytics/lib/queries.js
  apps/analytics/scripts/copy-db-schema.js
Due: prettier --write, eslint --fix

fix: tracker compilation
  apps/analytics/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: prisma accelerate
  apps/analytics/lib/db.js
  apps/analytics/lib/queries.js
  apps/analytics/package.json
  apps/analytics/scripts/copy-db-schema.js
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: upgrade depdendencies
  apps/main/package.json
  apps/main/src/constants/blurDataURL.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,scss,css,md})
  eslint --fix: any of: *.{js,ts,tsx}
